body {
   /* margin: 0; */
   font-family: Roboto,Arial,sans-serif;
   font-weight: 400;
   line-height: 1.5;
   color: #ffffff;
   text-align: left;
   background-color: #3e4759;
}

.jumbotron{
   background-color: #242933;
   padding: 2rem 1rem;
}

.thumbnail {
   padding:15px
}

.image-container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

/* If you want text inside of the container */
.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}